# dependecies
/node_modules

# production
/build

# enviroment variables
.env

# logs
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# IDE
/.idea/.gitignore
/.idea/tiny-house-server.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/watcherTasks.xml
/.idea/
/.cache/
